.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    font-family: 'Arial';
}

.title-styles {
    text-align: center;
    font-size: 36;
}

.table-styles {
    font-size: 20;
    border: 1px solid #DDD;
    text-align: left;
    width: 100%;
}

.cell-styles {
    border: 1px solid #DDD;
    padding: 5 5 5 5;
    text-align: left;
}

.table-header-styles {
    font-size: 20;
    font-weight: 'bold';
    border: 1px solid #DDD;
    text-align: 'left';
}

.color-blue {
    color: #4285f4;
}

.color-background {
    background-color: #4285f4;
}